/* src/componentes/Rodape/index.js */

.footer {
    background: #6278F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    padding: 0 0.2em;
}


.footer li {
    display: inline-block;
    padding: 1.5em;
}

.footer .logo {
    margin-right: 3.0em;
}
